demo/.venv
*.pyc
/build/*
/dist/*
/django_yubin.egg-info/
/docs/_build
.idea/*
.vscode/
.eggs/
.DS_Store
demo.*.sqlite
demo/demo/media/*
demo/postgres
demo/postgres-data
demo/minio-data
celerybeat-schedule

# tests related
.python-version
.tox
.coverage
cover
demo.sqlite
