[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=2.2,<3.0"
django-extensions = "*"
redis = ">=3.4,<3.5"

[dev-packages]
ipdb = "*"
flake8 = "*"

[requires]
python_version = "3.6"

[packages.ed0a5ba]
path = "./.."
editable = true
