[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=3.0,<3.1"
django-extensions = "*"

[dev-packages]
ipdb = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[packages.ed0a5ba]
path = "./.."
editable = true
